DISCORD_TOKEN=your_bot_token_here
CLIENT_ID=your_client_id_here

YT_PO_TOKEN=your_youtube_potoken_here
YT_USER_AGENT=Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36

TUNNEL_PORT=3033