DISCORD_TOKEN=your_bot_token_here
CLIENT_ID=your_client_id_here
GUILD_ID=your_guild_id_here
DOWNLOAD_CHANNEL_ID=optional_channel_id_here
LOGS_CHANNEL_ID=optional_logs_channel_here
MUSIC_CHANNEL_ID=optional_music_channel_here
YT_PO_TOKEN=